streamlit
markdown2
langchain
langchain-community
langchain-core
langchain-openai
langchain-groq
faiss-cpu
openai
sqlalchemy
python-dotenv
pinecone-client
PyMuPDF
speechrecognition
pyttsx3
docx2txt
langchain_pinecone
langchain_huggingface
st_copy_to_clipboard
streamlit_javascript
